@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  font-family: "VT323", monospace;
}

body {
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
  background-color: bisque;
  font-size: 3.5rem;
}

.play-box {
  width: 500px;
  margin: auto;
}

.button {
  outline: none;
  background-color: transparent;
  border: none;
  min-height: 50px;
  min-width: 50px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  font-weight: 700;
}

@media screen and(max-width: 576px) {
  body {
    width: 350px;
  }
  .button {
    height: 2px;
    width: 2px;
  }
}

#button1 {
  border-right: solid;
  border-bottom: solid;
}
#button2 {
  border-right: solid;
  border-bottom: solid;
}
#button3 {
  border-bottom: solid;
}
#button4 {
  border-right: solid;
  border-bottom: solid;
}
#button5 {
  border-right: solid;
  border-bottom: solid;
}
#button6 {
  border-bottom: solid;
}
#button7 {
  border-right: solid;
}
#button8 {
  border-right: solid;
}

.reset-box {
  display: flex;
  justify-content: center;
  margin-top: 340px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "VT323", monospace;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-1 {
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
